<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="utf-8">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <title>切換城市</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link href="css/iconfont/iconfont.css" rel="stylesheet"/>
    <link href="css/common.css" rel="stylesheet"/>
    <link href="css/home.css" rel="stylesheet"/>
</head>
<body>
    <!--頭部-->
    <div class="topper">
        <div class="wrapper">
            <div class="left-bar">
                <div class="change-city"><a class="name">合肥</a><a class="toggle" href="city-select.html">[切換]</a></div>
                <div class="back-home divider">
                    <em></em><a href="index.html">商城首頁</a>
                </div>
                <div class="item"><a href="">商家中心</a></div>
            </div>
            <div class="right-bar">
                <div class="login-user sub-menu">
                    <a class="menu-hd" href="">txtangxia<em></em></a>
                    <div class="down">
                        <a href="">內容</a>
                        <a href="">內容</a>
                        <a href="">內容</a>
                    </div>
                </div>
                <div class="item"><a href="">消息（<span class="txt-theme">0</span>）</a></div>
                <div class="logout divider"><a href="">退出</a></div>
                <span class=""></span>
                <div class="cart"><em></em><a href="">購物車<span class="txt-theme">2</span>件</a></div>
                <div class="order"><em></em><a href="">我的訂單</a></div>
                <div class="fav"><em></em><a href="">我的收藏</a></div>
                <div class="help"><em></em><a href="">幫助中心</a></div>
            </div>
        </div>
    </div>
    <div class="header-wrap">
        <div class="header wrapper">
            <a href="" class="logo">
                <img src="img/logo3.png" alt="" />
            </a>
            <div class="header-schbox">
                <div class="inner clearfix">
                <form action="" method="">
                    <div class="search-switch">
                        <i class="arrow"></i>
                        <div class="item">商品</div>
                        <div class="item active">店鋪</div>
                    </div>
                    <input class="search-txt" placeholder="搜流行寶貝">
                    <button class="search-btn"></button>
                    <div class="suggest-box">
                        <div class="item" data-title="上衣 短款 短袖">上衣 短款 短袖<div class="tags"><span>雪紡</span><span>蕾絲</span><span>一字領</span></div></div>
                    </div>
                </form>
                </div>
                <div class="hot-words">
                    <a href="">太平鳥</a><a href="">手機 </a><a href="">內衣</a><a href="">周大福</a><a href="">太平鳥</a>
                </div>
            </div>
            <div class="contact">
                <div class="item">
                    <span class="ico iconfont">&#xe61b;</span>
                    <span class="tel">400-889-8188</span>
                </div>
                <div class="item">
                     <span class="ico iconfont">&#xe61d;</span><a class="kefu">在線客服</a>
                </div>
            </div>
        </div>
    </div>
    <div class="nav-box">
        <div class="nav wrapper">
            <div class="slogan"></div>
            <ul class="nav-ul">
                <li><a href="">首頁</a></li>
                <li><a href="">服裝城</a></li>
                <li><a href="">美妝館</a></li>
                <li><a href="">新品首發</a></li>
                <li><a href="">低價搶購</a></li>
            </ul>
            <div class="nav-ad"><a class="ad" href=""><img src="uploads/nav-ad.jpg" alt="" /></a></div>
        </div>
    </div>
    <!--頭部-->

    <div class="city-chose-bar">
        <div class="wrapper">
            <div class="label">按省份選擇：</div>
            <select name="" id="" class="ui-txtin mr5" style="min-width:100px"></select>
            <select name="" id="" class="ui-txtin mr5" style="min-width:100px"></select>
            <input type="submit" class="ui-btn-theme mr5" class="確定" />
            <div class="label ml25">直接搜索：</div>
            <input type="text" class="ui-txtin" placeholder="請輸入城市中文或拼音"  style="width:350px" />
        </div>
    </div>
    <div class="city-chose-quick">
        <div class="wrapper mb15">
            <div class="tit">常用城市：</div>
            <div class="list">
                <a href="">上海</a><a href="">北京</a><a href="">天津</a><a href="">合肥</a><a href="">蕪湖</a><a href="">深圳</a><a href="">上海</a><a href="">上海</a><a href="">上海</a><a href="">上海</a>
            </div>
        </div>
        <div class="wrapper">
            <div class="tit">最近訪問：</div>
            <div class="list">
                <a href="">上海</a><a href="">北京</a><a href="">天津</a><a href="">合肥</a><a href="">蕪湖</a><a href="">深圳</a><a href="">上海</a><a href="">上海</a><a href="">上海</a><a href="">上海</a>
            </div>
        </div>
    </div>
    <div class="city-chose-main">
        <div class="wrapper">
            <div class="chose-tip">按拼音首字母選擇</div>
            <div class="city-chose-list">
                <div class="item clearfix">
                   <span class="label">A</span> <a href="">鞍山</a><a href="">阿拉善盟</a><a href="">安慶</a><a href="">安陽</a><a href="">安順</a>
                </div>
                <div class="item clearfix">
                   <span class="label">A</span> <a href="">鞍山</a><a href="">阿拉善盟</a><a href="">安慶</a><a href="">安陽</a><a href="">安順</a>
                </div>
                <div class="item clearfix">
                   <span class="label">A</span> <a href="">鞍山</a><a href="">阿拉善盟</a><a href="">安慶</a><a href="">安陽</a><a href="">安順</a>
                </div>
            </div>
        </div>
    </div>



     <!--腳部-->
    <div class="fatfooter">
        <div class="wrapper">
            <div class="fatft-service">
                <div class="item">
                    <a href="">
                        <img src="img/ico/ft-ser1.png" alt="" class="ico" />
                        <span>品質保障</span>
                    </a>
                </div>
                <div class="item">
                    <a href="">
                        <img src="img/ico/ft-ser2.png" alt="" class="ico" />
                        <span>七天無理由退換貨</span>
                    </a>
                </div>
                <div class="item">
                    <a href="">
                        <img src="img/ico/ft-ser3.png" alt="" class="ico" />
                        <span>特色服務體驗</span>
                    </a>
                </div>
                <div class="item">
                    <a href="">
                        <img src="img/ico/ft-ser4.png" alt="" class="ico" />
                        <span>幫助中心</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="fatft-links">
            <div class="wrapper">
                <div class="col-link">
                    <div class="tit">購物指南</div>
                    <div class="link"><a href="">購物流程</a></div>
                    <div class="link"><a href="">賬戶安全</a></div>
                    <div class="link"><a href="">聯繫客服</a></div>
                    <div class="link"><a href="">會員介紹</a></div>
                </div>
                <div class="col-link">
                    <div class="tit">配送方式</div>
                    <div class="link"><a href="">配送服務查詢上</a></div>
                    <div class="link"><a href="">門自提</a></div>
                    <div class="link"><a href="">物流費用標準</a></div>
                </div>
                <div class="col-link">
                    <div class="tit">支付方式</div>
                    <div class="link"><a href="">銀聯支付</a></div>
                    <div class="link"><a href="">支付寶支付</a></div>
                    <div class="link"><a href="">微信支付</a></div>
                </div>
                <div class="col-link">
                    <div class="tit">售後服務</div>
                    <div class="link"><a href="">售後政策</a></div>
                    <div class="link"><a href="">價格保護</a></div>
                    <div class="link"><a href="">退單說明</a></div>
                    <div class="link"><a href="">取消訂單</a></div>
                </div>
                <div class="col-link">
                    <div class="tit">聯繫我們</div>
                    <div class="link"><a href="">商家入駐</a></div>
                    <div class="link"><a href="">營銷服務</a></div>
                    <div class="link"><a href="">關於我們</a></div>
                    <div class="link"><a href="">廣告服務</a></div>
                </div>
                <div class="col-contact">
                    <div class="phone">400-000-0000</div>
                    <div class="time">週一至週日 8:00-18:00 <br />（僅收市話費）</div>
                    <div class="tool">
                        <a href="" class="kefu"><i class="iconfont icon-huifu"></i>在線客服</a>
                        <a class="ico weixin" href=""><img src="img/ico/ft-weixin.png" alt="" /><img src="uploads/ercode.jpg" class="ercode" /></a>
                        <a class="ico sina" href=""><img src="img/ico/ft-sina.png" alt="" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">安徽XXX網絡科技有限公司 版權所有 Copyright © 2016-2018   備案號：皖ICP備123456789</div>
    <!--腳部-->
</body>
<script src="js/jquery.js"></script>
<link rel="stylesheet" href="js/slick/slick.css"/>
<script src="js/slick/slick.min.js"></script>
<script src="js/global.js"></script>
</html>