{% extends 'base.html' %}
{% block title %}
    <title>確認訂單</title>

    <link href="/public/css/cart.css" rel="stylesheet"/>
<link rel="stylesheet" href="/public/js/icheck/style.css"/>
<script src="/public/js/icheck/icheck.min.js"></script>
<script src="/public/js/layer/layer.js"></script>
<style>
    body {
        background-color: #f4f4f4;
    }
</style>
{% endblock %}
{% block body %}
        <div class="cart-header wrapper">
            <div class="logo">
                <a href="index.html"><img src="/public/img/logo.png" alt="logo" /></a>
            </div>
            <div class="step-box">
                <div class="row">
                    <div class="step first active col-3">
                        <span class="num">1</span><span class="line"></span><span class="label">我的購物車</span>
                    </div>
                    <div class="step active col-3">
                        <span class="num">2</span><span class="line"></span><span class="label">確認訂單信息</span>
                    </div>
                    <div class="step col-3">
                        <span class="num">3</span><span class="line"></span><span class="label">選擇支付方式</span>
                    </div>
                    <div class="step last col-3">
                        <span class="num">4</span><span class="line"></span><span class="label">完成付款</span>
                    </div>
                </div>
            </div>
        </div>
    <!--頭部-->

    <div class="wrapper confirm-wrap" id="div_order">
        <div class="confirm-tit">
           <span class="tit">確認商品信息:</span><div class="right"><a class="back" href="/shop/cart">返回購物車></a></div>
        </div>
        <div class="confirm-goods">
            <div class="confirm-goods-hd clearfix">
                <div class="col col1">主題</div>
                <div class="col col2">單價（元）</div>
                <div class="col col3">數量</div>
                <div class="col col4">小計（元）</div>
            </div>
            {% for goods in cart %}
            <div class="confirm-goods-bd">
                <div class="goods clearfix">
                    <div class="col col1">
                        <img src="{{goods.imgurl}}" alt="">
                        <div class="info">
                            <div class="name">{{goods.title}}</div>
                            <div class="meta"><span>亮麗</span></div>
                        </div>
                    </div>
                    <div class="col col2">￥{{goods.price}}</div>
                    <div class="col col3">{{goods.num}}</div>
                    <div class="col col4">￥{{goods.price*goods.num}}</div>
                </div>
            </div>
            {% endfor %}
            <div class="confirm-goods-ft clearfix">
                <div class="fl"><span class="vm-ib">買家留言： </span><textarea class="ui-txtin" style="width: 410px;" name="" placeholder="在此輸入給我們留言"></textarea></div>
                <div class="fr">合計: ¥ {{sumPrice}}</div>
            </div>
        </div>
         <div class="confirm-total">
            <div class="box">
                <div class="item">應付總額：<strong id="pay_price"> ¥ {{sumPrice}}</strong></div>
                <a class="ui-btn-theme go-charge" href="javascript:void(0)" onclick="addOrder()">去結算</a>
            </div>
        </div>
    </div>

    <!--腳部-->
    <div class="fatfooter">

    </div>

<script>
    function addOrder() {
        let billAmount="{{sumPrice}}";
        InmyjsKit.request.post("/shop/order",{billAmount},function (res) {
            if(res.success){
                window.location.href="/shop/pay/"+res.result;
            }
        })
    }
//這裡不使用自帶按鈕，因為設計按鈕較特殊，不準備作為通用樣式
$('.confirm-address .edit,.confirm-address .add').on('click',function () {
    layer.open({
        type: 1,
        skin: 'layui-layer-seaing',
        title: '標題',
        area: ['720px', 'auto'],
        content: $('#addressform')
        //btn: ['按鈕一', '按鈕二']
    });
});
$(document.body).on('click','.layer-address .cancle',function () {
    layer.closeAll();
    return false;
})

//
function juggeAddressNum () {
    let col=$('.confirm-address .col'),
    cH=col.height();
    $('.confirm-address').height(cH)
    if (col.length>3) {
        $('.confirm-address-bar').show();
    }
    else {
        $('.confirm-address-bar').hide();
    }
}
juggeAddressNum();
zAction.add({
    'drop':function () {
        $('.confirm-address').height('auto')
        let h=$('.confirm-address').height()
        juggeAddressNum();
        $('.confirm-address').animate({height: h}, 300);
        $(this).parent().remove();
    }
});
</script>
{% endblock %}
{% block footer %}
{% endblock %}