<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="zh"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="zh"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="zh"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="zh"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="Speed730">
    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href=/public/favicon.ico>
    <title>{{baseConfig.pageTitle}}</title>
    <meta name="keywords" content="{{baseConfig.pageKeywords}}">
    <meta name="description" content="{{baseConfig.pageDescription}}">
    <meta name="author" content="Wbiokr@hotmail.com">

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="/public/assets/new/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/assets/new/css/shop.style.css">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="/public/assets/new/plugins/line-icons/line-icons.css">
    <link rel="stylesheet" href="/public/assets/new/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/assets/new/plugins/scrollbar/src/perfect-scrollbar.css">
    <link rel="stylesheet" href="/public/assets/new/plugins/owl-carousel/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/public/assets/new/plugins/revolution-slider/rs-plugin/css/settings.css">

    <!-- Style Switcher -->
    <link rel="stylesheet" href="/public/assets/new/css/plugins/style-switcher.css">

    <!-- CSS Theme -->
    <link rel="stylesheet" href="/public/assets/new/css/theme-colors/default.css" id="style_color">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="/public/assets/new/css/custom.css">
    <link rel="stylesheet" href="/public/assets/new/css/wbiokr.css"></link>

    <!--[if lt IE 9]>
    <script src="/public/assets/red/js/html5.min.js"></script>
    <script src="/public/assets/red/js/ie9.min.js"></script>
    <link rel="stylesheet" href="/public/assets/red/css/font-awesome-ie7.min.css">
    <![endif]-->

    <!-- JS Global Compulsory -->
    <script src="/public/assets/new/plugins/jquery/jquery.min.js"></script>
    <script src="/public/assets/new/plugins/jquery/jquery-migrate.min.js"></script>
    <script src="/public/assets/new/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- JS Implementing Plugins -->
    <script src="/public/assets/new/plugins/back-to-top.js"></script>
    <script src="/public/assets/new/plugins/owl-carousel/owl-carousel/owl.carousel.js"></script>
    <script src="/public/assets/new/plugins/scrollbar/src/jquery.mousewheel.js"></script>
    <script src="/public/assets/new/plugins/scrollbar/src/perfect-scrollbar.js"></script>
    <script src="/public/assets/new/plugins/jquery.parallax.js"></script>
    <script src="/public/assets/new/plugins/revolution-slider/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script src="/public/assets/new/plugins/revolution-slider/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <!-- JS Customization -->
    <script src="/public/assets/new/js/custom.js"></script>
    <!-- JS Page Level -->
    <script src="/public/assets/new/js/shop.app.js"></script>
    <script src="/public/assets/new/js/plugins/owl-carousel.js"></script>
    <script src="/public/assets/new/js/plugins/revolution-slider.js"></script>
    <script type="text/javascript" src="/public/assets/new/js/plugins/style-switcher.js"></script>
    
    <!-- include alertify.css -->
    <link rel="stylesheet" href="/public/assets/common/alertify.0.3.11/alertify.core.css">
    <link rel="stylesheet" href="/public/assets/common/alertify.0.3.11/default.css">
    <style>
        .alertify-logs {
            top: 50px;
        }
    </style>
    <script src="/public/assets/common/alertify.0.3.11/alertify.min.js"></script>
    
    
    <script src="/public/assets/red/js/jquery.cookies.js"></script>
    <script src="/public/assets/common/inmyjs.kits.js"></script>


    <!-- <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?5058252e40e3f167fb58ffdaa04b7266";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script> -->


    {% block title %}

    {% endblock %}
</head>
<body class="header-fixed">

<!--=== Style Switcher ===-->    
<!-- <i class="style-switcher-btn fa fa-cogs hidden-xs"></i> -->
<div class="style-switcher animated fadeInRight">
    <div class="style-swticher-header">
        <div class="style-switcher-heading">Style Switcher</div>            
        <div class="theme-close"><i class="icon-close"></i></div>
    </div>

    <div class="style-swticher-body">
        <!-- Theme Colors -->
        <div class="style-switcher-heading">Theme Colors</div>
        <ul class="list-unstyled">
            <li class="theme-default" data-style="green"></li>
            <li class="theme-blue" data-style="blue"></li>
            <li class="theme-orange" data-style="orange"></li>
            <li class="theme-red" data-style="red"></li>
            <li class="theme-light" data-style="light"></li>
            <li class="theme-purple last" data-style="purple"></li>
            <li class="theme-aqua" data-style="aqua"></li>
            <li class="theme-brown" data-style="brown"></li>
            <li class="theme-dark-blue" data-style="dark-blue"></li>
            <li class="theme-light-green" data-style="light-green"></li>
            <li class="theme-dark-red" data-style="dark-red"></li>
            <li class="theme-teal last theme-active" data-style="default"></li>
        </ul>
        
        <!-- Theme Type -->
        <div class="style-switcher-heading">Theme Type</div>
        <div class="row no-col-space">
            <div class="col-xs-6">
                <a href="../index.html" class="btn-u btn-u-xs btn-u-dark btn-block">Main Demo</a>
            </div>
            <div class="col-xs-6">
                <a href="../One-Page/index.html" class="btn-u btn-u-xs btn-u-dark btn-block">One Page</a>
            </div>
        </div>            
    </div>
</div><!--/style-switcher-->
<!--=== End Style Switcher ===-->   

<div class="wrapper">
    <!--=== Header v5 ===-->   
    {% block head %}
    <div class="header-v5 header-static">
        <!-- Topbar v3 -->
        <div class="topbar-v3">
            <div class="search-open">
                <div class="container p-r p-l-75">
                    <span class="c-fff f-w-600 p-a-xl-yc left-30">NTD$</span>
                    <input type="text" id="price-filter-input" class="form-control" placeholder="請輸入要購買商品的價格">
                    <div class="search-close"><i class="icon-close"></i></div>
                </div>
                <aside class="search-result p-a-xc-yt top-40 w-per-100 bg-color-fff shadow-gray z-5 p-tb-20 p-lr-10 b-r-6" style="max-width: 1100px;display: none;">
                </aside>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <!-- Topbar Navigation -->
                        <ul class="left-topbar">
                            <!-- <li>
                                <a>Currency</a>
                                <ul class="currency">
                                    <li class="active">
                                        <a href="#">USD <i class="fa fa-check"></i></a> 
                                    </li>
                                    <li><a href="#">Euro</a></li>
                                    <li><a href="#">Pound</a></li>
                                </ul>
                            </li> -->
                            <!-- <li>
                                <a>Language (EN)</a>
                                <ul class="language">
                                    <li class="active">
                                        <a href="#">English (EN)<i class="fa fa-check"></i></a> 
                                    </li>
                                    <li><a href="#">Spanish (SPN)</a></li>
                                    <li><a href="#">Russian (RUS)</a></li>
                                    <li><a href="#">German (GRM)</a></li>
                                </ul>
                            </li>    -->
                        </ul><!--/end left-topbar-->
                    </div>
                    <div class="col-sm-6">
                        <ul class="list-inline right-topbar pull-right">
                            {% if uid %}
                            <li class="c-p o-hover-70 ease-300">歡迎您，<a href="/shop/uc">{{nickname}}</a></li>
                            <li class="c-p o-hover-70 ease-300 m-l-10" onclick="logout()">退出</li>
                             {% else %}
                            <li><a href="/shop/login">登錄</a> | <a href="/shop/signIn">註冊</a></li>
                            {% endif %}
                            <li><i class="search fa fa-search search-button"></i></li>
                        </ul>
                    </div>
                </div>
            </div><!--/container-->
        </div>
        <!-- End Topbar v3 -->
        {% endblock %}
        {% block nav %}
        <!-- Navbar -->
        <div class="navbar navbar-default mega-menu" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">
                        <img id="logo-header" src="/public/assets/new/img/logo.png" alt="Logo">
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-responsive-collapse">
                    <!-- Badge -->
                     {% if uid %}
                    <ul class="list-inline shop-badge badge-lists badge-icons pull-right">
                        <li>
                            <a href="#"><i class="fa fa-shopping-cart"></i></a>
                            <!-- <span id="cart-count" class="badge badge-sea rounded-x cart-count-span">{{cartCount}}</span> -->
                            <span id="cart-count" class="badge badge-sea rounded-x cart-count-span">--</span>
                            <ul id="scrollbar" class="list-unstyled badge-open contentHolder cart-list-container">
                                <div id="cart-container">
                                <!-- {% for goods in cart %}
                                <li>
                                    <a href="/shop/goods/{{goods.goodsID}}" target="_blank">
                                        <img src="{{goods.imgurl}}" alt="{{goods.name}}" class="" />
                                    </a>
                                    <button type="button" class="close" onclick="delCart('{{goods.id}}')">×</button>
                                    <div class="overflow-h">
                                        <span>{{ goods.name }}</span>
                                        <small>{{goods.num}} x NTD${{goods.price}}</small>
                                    </div>    
                                </li>
                                {% endfor %} -->
                                </div>
                                <!-- <li>
                                    <img src="/public/assets/new/img/thumb/02.jpg" alt="">
                                    <button type="button" class="close">×</button>
                                    <div class="overflow-h">
                                        <span>Black Glasses</span>
                                        <small>1 x $400.00</small>
                                    </div>    
                                </li>
                                <li>
                                    <img src="/public/assets/new/img/thumb/03.jpg" alt="">
                                    <button type="button" class="close">×</button>
                                    <div class="overflow-h">
                                        <span>Black Glasses</span>
                                        <small>1 x $400.00</small>
                                    </div>    
                                </li> -->
                                
                                <li class="subtotal">
                                    <!-- <div class="overflow-h margin-bottom-10">
                                        <span>總價格</span>
                                        <span class="pull-right subtotal-cost"></span>
                                    </div> -->
                                    <div class="row f-e-c">    
                                        <!-- <div class="col-xs-6">
                                            <a href="shop-ui-inner.html" class="btn-u btn-brd btn-brd-hover btn-u-sea-shop btn-block">View Cart</a>
                                        </div> -->
                                        <div class="col-xs-6">
                                            <!-- <a href="shop-ui-add-to-cart.html" class="btn-u btn-u-sea-shop btn-block">Checkout</a> -->
                                            <span class="c-fff ease-300 btn-u btn-u-sea-shop btn-block c-p" style="color: #fff!important" onclick="checkout()">去結算</span>
                                        </div>
                                    </div>        
                                </li>    
                            </ul>
                        </li>
                    </ul>
                    {% endif %}
                    <!-- End Badge -->

                    <ul class="nav navbar-nav">
                        <li><a href="/">首頁</a></li>
                        <li><a href="/shop/goods">產品列表</a></li>
                        <!-- <li><a href="/shop/blog">博客新聞</a></li> -->
                        <li><a href="/shop/contact">聯繫我們</a></li>
                        <li><a href="/static/about">關於我們</a></li>

                        <!-- Pages -->
                        <!-- <li class="dropdown active">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">
                                Pages
                            </a>
                            <ul class="dropdown-menu">
                                <li class="active"><a href="/">Shop UI</a></li>
                                <li><a href="shop-ui-inner.html">Product Page</a></li>
                                <li><a href="shop-ui-filter-grid.html">Filter Grid Page</a></li>
                                <li><a href="shop-ui-filter-list.html">Filter List Page</a></li>
                                <li><a href="shop-ui-add-to-cart.html">Checkout</a></li>
                                <li><a href="shop-ui-login.html">Login</a></li>
                                <li><a href="shop-ui-register.html">Register</a></li>
                            </ul>
                        </li> -->
                        <!-- End Pages -->

                        <!-- Promotion -->
                        <!-- <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">
                                Promotion
                            </a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-submenu">
                                    <a href="javascript:void(0);">Jeans</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Skinny Jeans</a></li>
                                        <li><a href="#">Bootcut Jeans</a></li>
                                        <li><a href="#">Straight Cut Jeans</a></li>
                                    </ul>    
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="javascript:void(0);">Shoes</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Sandals</a></li>
                                        <li><a href="#">Heels</a></li>
                                    </ul>    
                                </li>
                            </ul>
                        </li> -->
                        <!-- End Promotion -->
                    </ul>
                </div><!--/navbar-collapse-->
            </div>    
        </div>            
        <!-- End Navbar -->
    </div>
    <!--=== End Header v5 ===-->
    {% endblock %}
    {% block body %}
    
    {% endblock %}
    {% block foot %}
    <!--=== Footer v4 ===-->
    <div class="footer-v4">
        <div class="footer">
            <div class="container">
                <div class="row">
                    <!-- About -->
                    <div class="col-md-4 md-margin-bottom-40">
                        <a href="/"><img class="footer-logo" src="/public/assets/new/img/logo-2.png" alt=""></a>
                        <p>110臺北市信義區信義路五段7號</p>
                        <!-- <br> -->
                        <!-- <ul class="list-unstyled address-list margin-bottom-20">
                            <li><i class="fa fa-angle-right"></i>上海市黃浦區靜安路15號，普天大廈501號</li>
                            <li><i class="fa fa-angle-right"></i>電話: 800 123 3456</li>
                            <li><i class="fa fa-angle-right"></i>傳真: 800 123 3456</li>
                            <li><i class="fa fa-angle-right"></i>郵箱: info@anybiz.co</li>
                        </ul> -->

                        <!-- <ul class="list-inline shop-social">
                            <li><a href="#"><i class="fb rounded-md fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="tw rounded-md fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="gp rounded-md fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="yt rounded-md fa fa-youtube"></i></a></li>
                        </ul> -->
                    </div>
                    <!-- End About -->                    

                    <!-- Simple List -->
                    <div class="col-md-8 col-sm-3">
                        <div class="row">
                            <div class="col-sm-12 col-xs-6">
                                <h2 class="thumb-headline">聯繫方式</h2>
                                <ul class="list-unstyled simple-list margin-bottom-20">
                                    <li><a href="#">電話: 800 123 3456</a></li>
                                    <li><a href="#">傳真: 800 123 3456</a></li>
                                    <li><a href="#">郵箱: info@anybiz.co</a></li>
                                </ul>
                            </div>    

                            <!-- <div class="col-sm-12 col-xs-6">
                                <h2 class="thumb-headline">Temas</h2>
                                <ul class="list-unstyled simple-list">
                                    <li><a href="#">Ultima Hora</a></li>
                                    <li><a href="#">Exclusiva</a></li>
                                    <li><a href="#">Documentos </a></li>
                                    <li><a href="#">Francisco papa</a></li>
                                    <li>...</li>
                                </ul>
                            </div> -->
                        </div>
                    </div>    

                    <!-- <div class="col-md-2 col-sm-3">
                        <div class="row">
                            <div class="col-sm-12 col-xs-6">
                                <h2 class="thumb-headline">Utilidades</h2>
                                <ul class="list-unstyled simple-list margin-bottom-20">
                                    <li><a href="#">Ultima Hora</a></li>
                                    <li><a href="#">Exclusiva</a></li>
                                    <li><a href="#">Documentos </a></li>
                                    <li>...</li>
                                </ul>
                            </div>    

                            <div class="col-sm-12 col-xs-6">
                                <h2 class="thumb-headline">Documentos</h2>
                                <ul class="list-unstyled simple-list">
                                    <li><a href="#">Ultima Hora</a></li>
                                    <li><a href="#">Exclusiva</a></li>
                                    <li><a href="#">Documentos </a></li>
                                    <li><a href="#">Francisco papa</a></li>
                                    <li>...</li>
                                </ul>
                            </div>
                        </div>        
                    </div>

                    <div class="col-md-2 col-sm-3">
                        <div class="row">
                            <div class="col-sm-12 col-xs-6">
                                <h2 class="thumb-headline">Publicidad</h2>
                                <ul class="list-unstyled simple-list margin-bottom-20">
                                    <li><a href="#">Ultima Hora</a></li>
                                    <li><a href="#">Exclusiva</a></li>
                                    <li><a href="#">Documentos </a></li>
                                    <li><a href="#">Francisco papa</a></li>
                                    <li>...</li>
                                </ul>
                            </div>    

                            <div class="col-sm-12 col-xs-6">
                                <h2 class="thumb-headline">Contacto</h2>
                                <ul class="list-unstyled simple-list">
                                    <li><a href="#">Ultima Hora</a></li>
                                    <li><a href="#">Exclusiva</a></li>
                                    <li><a href="#">Documentos </a></li>
                                    <li><a href="#">Francisco papa</a></li>
                                    <li>...</li>
                                </ul>
                            </div>
                        </div>        
                    </div>

                    <div class="col-md-2 col-sm-3">
                        <div class="row">
                            <div class="col-sm-12 col-xs-6">
                                <h2 class="thumb-headline">Utilidades</h2>
                                <ul class="list-unstyled simple-list margin-bottom-20">
                                    <li><a href="#">Ultima Hora</a></li>
                                    <li><a href="#">Exclusiva</a></li>
                                    <li>...</li>
                                </ul>
                            </div>
                                
                            <div class="col-sm-12 col-xs-6">
                                <h2 class="thumb-headline">Documentos</h2>
                                <ul class="list-unstyled simple-list">
                                    <li><a href="#">Ultima Hora</a></li>
                                    <li><a href="#">Exclusiva</a></li>
                                    <li>...</li>
                                </ul>
                            </div>
                        </div>        
                    </div> -->
                    <!-- End Simple List -->
                </div><!--/end row-->
            </div><!--/end continer-->
        </div><!--/footer-->

        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">                     
                        <p>
                            {{baseConfig.CopyRight}} 
                            <!-- <a target="_blank" href="https://twitter.com/htmlstream">隱私信息</a> | <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a> -->
                            <a target="_blank" href="/static/privacy">隱私信息</a>
                            <a target="_blank" href="/static/law">會員制度法律條款</a>
                            <a target="_blank" href="/static/service">服務條款</a>
                        </p>
                    </div>
                    <div class="col-md-6">  
                        <ul class="list-inline sponsors-icons pull-right">
                            <li><i class="fa fa-cc-paypal"></i></li>
                            <li><i class="fa fa-cc-visa"></i></li>
                            <li><i class="fa fa-cc-mastercard"></i></li>
                            <li><i class="fa fa-cc-discover"></i></li>
                        </ul>
                    </div>
                </div>
            </div> 
        </div><!--/copyright--> 
    </div>
    {% endblock %}
    <!--=== End Footer v4 ===-->
</div>


<script src="/public/assets/new/js/base.js"></script>
<script>
    jQuery(document).ready(function() {
        App.init();
        App.initParallaxBg();
        OwlCarousel.initOwlCarousel();
        RevolutionSlider.initRSfullWidth();
        StyleSwitcher.initStyleSwitcher();      
});
</script>
</body>
</html>
